/* css reset start */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
  text-decoration: none;
}

ol,
ul,
li {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

a img {
  border: none
}

button,
a {
  cursor: pointer;
  color: inherit
}

textarea {
  resize: none
}

button,
input,
textarea,
select {
  appearance: none !important;
  -webkit-appearance: none !important;
  border-radius: 0
}

/* css reset end */

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

/*MENÜSOR*/

nav {
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 99;
  
  overflow: hidden;
  justify-content: flex-start;
  background: #1A1E23;
}

#nav-logo {
  height: 50px;
}

nav a {
  padding: 15px;
  font-size: 20px;

  color: rgb(163, 163, 163);
}

nav a:hover {
  padding: 15px;

  color: rgb(209, 209, 209);
}

.search-bar {
  display: flex;
  width: 100%;
  height: 70%;

  margin-top: 12px;
  margin-right: 10px;
}

.search-bar input {
  align-items: flex-end;
  padding: 5px;
  margin-left: auto;
  margin-right: 5px;

  background-color: whitesmoke;
  border-radius: 10px;
}

/*NYÍTÓOLDAL*/

#text-container{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  z-index: 98;

  transform: translate(-50%, -50%);
  color: rgb(250, 250, 250);
  text-align: center;
}

.main-title {
  top: 50%;
  left: 50%;

  font-size: 75px;
  text-shadow: 2px 2px #555555;
}

.sub-title {
  top: 56%;
  left: 50%;

  font-size: 40px;
}

.sub-sub-title {
  top: 60%;

  font-size: 20px;

}

#section01 {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#section01::after {
  position: absolute;
  width: 100%;
  height: 80%;
  bottom: 0;
  left: 0;

  content: '';
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 80%, rgba(0, 0, 0, .8) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 80%, rgba(0, 0, 0, .8) 100%);
}

#section01 {
  background: url(/src/pinwheels-g5096c76b9_1920.jpg) center center / cover no-repeat;
}

.demo a {
  position: absolute;
  bottom: 50px;
  left: 50%;
  z-index: 2;
  display: inline-block;

  -webkit-transform: translate(0, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font: normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.demo a:hover {
  opacity: .5;
}

#section01 a {
  padding-top: 60px;
}

#section01 a span {
  position: absolute;
  width: 46px;
  height: 46px;
  top: 0;
  left: 50%;
  margin-left: -23px;

  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}

#section01 a span::after {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  margin: -12px 0 0 -8px;
  
  content: '';
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

#section01 a span::before {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 0;
  left: 0;
  z-index: -1;

  content: '';
  box-shadow: 0 0 0 0 rgba(255, 255, 255, .1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb01 3s infinite;
  animation: sdb01 3s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb01 {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes sdb01 {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/*HÍREK*/

#section02{
  position: relative;
  width: 100vw;
  height: fit-content;
  padding: 20px;
  text-align: center;
}

#section02 h2 {
  margin-top: 15px;
  margin-bottom: 20px;

  color: #cced4b;
  font-family: 'Montserrat', sans-serif;
}

#section02 h3 {
  margin: 5%;
  
  color: #274c77;
  font-size: 23px;
  font-family: 'Montserrat', sans-serif;
}

#section02 p {
  text-align: justify;
  padding: 15px;
}

#box-for-circles{
  /* position: absolute; */
  display: flex;
  /*padding-top: 100px;*/
  justify-content: space-around;
  flex-direction: row;
  margin: 20px;
}

.circle-contaniner{
  display: flex;
  width: 30%;
  min-width: 300px;
  margin: 2px;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  text-align: center;

  border-radius: 25px;
  background-color: #f5f5f5;
}

.circle {
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}


.circle:hover {
  opacity: 0.3;
}

.middle {
  opacity: 0;
}

.circle:hover .middle {
  opacity: 1;
  position: absolute;

  text-align: center;
  margin-top: -160px;
  margin-left: 50px;
  font-size: 100px;
  color: rgb(100, 100, 100);
}


#box-for-circles .circle{
  height: 200px;
  width: 200px;
  margin-bottom: 40px;
  
  border-radius: 50%;
  background-color: rgb(68, 68, 68);
}

.circle img {
  height: 200px;
  width: 200px;
  
  border-radius: 50%;
  border: 1px solid #555;
}

#more {
  font-size: 23px;
  color: #555555;
  font-family: 'Montserrat', sans-serif;
}

#more:hover {
  color: #274c77;
}

/*RÓLUNK*/

#section03 {
  position: relative;
  width: 100vw;
  padding: 20px;

  background-color: rgb(228, 228, 228);
  
}

#paragraph {
  position: relative;
  margin-top: 27px;
  margin-right: 10px;
}

#section03 h1 {
  /* margin-bottom: 50px; */
  padding-top: 30px;
  padding-bottom: 20px;
  
  font-size: 35px;
  color: #274c77;
  font-family: 'Montserrat', sans-serif;
}

#section03 p {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: justify;
  margin-left: 60px;
  margin-right: 60px;
  
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

#section03 h2 {
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 40px;
  padding-left: 20px;
  
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;

}

li {
  margin-bottom: 10px;
  margin-left: 80px;
  margin-right: 50px;
  
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #555555;
}

.goalimg {
  width: 400px;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 80px;
  margin-left: 80px;
  border-radius: 10px;
}

/*SZOLGÁLTATÁS*/

#section04 {
  /* position: relative; */
  width: 100vw;
  height: fit-content;
  padding: 20px;
  
  background-color: rgb(192, 192, 192);
  font-family: 'Montserrat', sans-serif;
}


#section04 h1 {
  padding-top: 30px;
  padding-bottom: 20px;
  
  color: #274c77;
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
}

#content {
  width: 300px;
  margin-top: 20px;
  margin-left: 60px;
  padding: 15px;
}

#section04 h3 {
  padding-top: 30px;
  padding-bottom: 20px;
  margin-left: 60px;
  margin-right: 60px;
  
  color:#1A1E23;
  font-size: 30px;
  text-decoration: underline;
}

#section04 p {
  text-align: justify;
  padding: 15px;
  margin-left: 60px;
  margin-right: 60px;
  font-size: 20px;
}

/*KAPCSOLAT*/

#section05 {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  color: white;
  background-color: #17252a;
  background: url(/src/UK-Launches-Competition-to-Mitigate-Offshore-Wind-Farm-Radar-Risk.png) center center / cover no-repeat;
}

#section05 h1 {
  font-family: sans-serif;
  font-size: 30px;
  color: #cced4b;
}

#section05 h2 {
  padding-top: 30px;
  margin-bottom: 10px;

  font-family: sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

#section05 h3 {
  padding-top: 5px;
  font-family: sans-serif;
  font-size: 15px;
  color: rgb(255, 255, 255);
}

#section05 p {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 15px;
  color: #cdf2fd;
}

#contact-1 {
  margin: 30px;
}

#contact-2 {
  margin: 30px;
}


@media only screen and (max-width: 668px)  {
  .main-title {
    top: 50%;
    left: 50%;
    font-size: 50px;
  }
  

  #box-for-circles{
    /* display: flex; */
    /* padding-top: 0; */
    justify-content: center;
    flex-direction: column;
    align-items: center;

  }
  
  .circle-contaniner{
    display: flex;
    width: 50%;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
  
  }



}